h1 {
    background-color: rgb(2, 2, 66);
    color: azure;
    text-align: center;
    font-size: 70px;
}
h2 {
    background-color: rgba(2, 2, 66);
    color: azure;
}

button {
    padding: 12px;
    background-color: rgb(2, 2, 66);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: rgb(25, 25, 120);
}




.navbar {
    position: sticky;
    top: 0;
    background-color: rgb(2, 2, 66);
    align-items: center;
    justify-content: space-between;
    padding: 16px 32px;
}
.nav-links-desktop a {
    margin-left: 24px;
    font-weight: 500;
    font-size: 16px;
    color: azure;
    position: relative;
    transition: 0.2s;
    text-decoration: none;
    padding: 16px 32px;
}
.nav-links-desktop a:hover {
    color: rgb(2, 2, 66);
    background-color: azure;
    padding: 16px 32px;
}
.nav-links-desktop a.active {
    background-color: azure;
    color: rgb(2, 2, 66);
    padding: 16px 32px;
}

.menu-toggle {
    display: none;
    font-size: 26px;
    cursor: pointer;
    user-select: none;
    color: azure;
}
.nav-links-mobile {
    display: none;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.nav-links-mobile a {
    font-weight: 500;
    font-size: 16px;
    color:rgb(2, 2, 66);
    text-decoration: none;
    padding: 12px 16px;
    width: 100%; 
    box-sizing: border-box;
    transition: 0.2s;
}

.nav-links-mobile a:hover {
    background-color: rgb(2, 2, 66);
    color: azure;
}

.nav-links-mobile.active {
    background-color: azure;
    color: rgb(2, 2, 66);
    display: flex;
}
.hidden {
    display: none !important;
}
@media (max-width: 1053px) {
    .menu-toggle {
        display: block;
    }

    .nav-links-desktop {
        display: none;
    }

    .nav-links-mobile.active {
        display: flex;
    }
}



.content {
    display: flex;
    width: 100%;
    margin: 0;
}
.entry_form {
    flex: 1;
    display: grid;
    gap: 16px;
    background-color: #f5f7fb;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.15);
}
.entry_form input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 18px;
}
.entry_form label {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: rgb(2, 2, 66);
}
.entry_form input[type="date"] {
    margin-top: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
}
.entry_form select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}
.entry_form input {
    width: 100%;
    box-sizing: border-box;
}
.entry-form-row {
    display: flex;
    gap: 16px;
}
.entry-form-row label {
    flex: 1;
    display: flex;
    flex-direction: column;
}







.filter-sort {
    flex: 1;
    min-width: 240px;
    display: grid;
    gap: 16px;
    background-color: #f5f7fb;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.15);
}
.filter-row {
    display: flex;
    gap: 16px;
}
.dropdown-filter {
    position: relative;
    display: inline-block;
}
.dropdown-filter-content {
    display: none;
    position: absolute; 
    top: 100%;
    left: 0;
    background-color: white;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
    z-index: 10;
}
.dropdown-filter.show .dropdown-filter-content {
    display: block;
}
.dropdown-filter-content label {
    display: block;
    margin: 5px 0;
}
.sort-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 18px;
}
.filter-sort h3 {
    margin: 0;
    font-size: 18px;
    color: rgb(2, 2, 66);
}




#results {
    max-width: 1800px;
    margin: 25px;
}






.flight-results-table {
    width: 100%;
    table-layout: auto;
    border-collapse: separate;
    border-spacing: 0 18px;
}
.flight-main-row,
.flight-sub-row {
    background: white;
    box-shadow: 0 6px 18px rgba(0,0,0,0.05);
}
.price-cell {
    font-size: 40px;
    font-weight: bold;
    width: 140px;
}
.badge {
    padding: 6px 12px;
    border-radius: 999px;
    font-size: 12px;
    font-weight: bold;
}
.badge.outbound {
    background-color: azure;
    color: rgb(2, 2, 66);
}
.badge.return {
    background-color: azure;
    color: rgb(2, 2, 66);
}
.airline-cell {
    font-weight: 600;
}
.flight-results-table th,
.flight-results-table td {
    padding: 18px 22px;
    font-size: 18px;
    line-height: 1.5;
    vertical-align: middle;
}
.flight-results-table th {
    font-size: 19px;
    font-weight: 700;
    color: rgb(2, 2, 66);
    text-align: left;
}
.flight-main-row:hover,
.flight-sub-row:hover {
    background: #f5f9ff;
}









.hotel-cards-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    border: 1;
}
.hotel-card {
    display: flex;
    align-items: center;
    padding: 20px;
}
.hotel-card:hover {
    background-color: rgb(2, 2, 66);
    color: azure;
}
.hotel-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.hotel-name {
    font-size: 30px;
    font-weight: bold;
}
.hotel-location {
    font-size: 20px;
}
.hotel-rating {
    font-weight: bold;
    font-size: 20px;
}
.hotel-action {
    text-align: right;
}
.hotel-price {
    font-size: 30px;
    font-weight: bold;
}

.select-btn {
    background-color: rgb(2, 2, 66);
    color: azure;
    padding: 8px 14px;
    border-radius: 8px;
}
.select-btn:hover {
    background-color: azure;
    color: rgb(2, 2, 66);
}












.login-container {
    max-width:800px;
    margin:40px auto;
    padding:20px;
    border:1px solid;
    border-radius:10px;
    background-color: #f5f7fb;
}
.account-form label {
    color: rgb(2, 2, 66);
    font-size: 16px;
}
.account-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}





.payment_process {
    max-width: 800px;
    margin: 40px auto; 
    padding: 24px; background-color: #f5f7fb;
    border-radius: 10px;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.15);
    display: grid;
    gap: 16px;
}
.payment_process h2 {
    background-color: rgb(2, 2, 66);
    color: azure;
    padding: 10px;
    border-radius: 6px;
    font-size: 22px;
}
.form-group {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: white;
}
.form-group label {
    font-size: 16px;
    color: rgb(2, 2, 66);
    cursor: pointer;
}
.form-group input[type="radio"] {
    margin-right: 8px;
}
.cardDetails{
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: white;
    display: none;
    margin: 40px auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.cardDetails h3{
    margin-top: 0;
    color: rgb(2, 2, 66);
} 
.cardDetails input{
    width: 100%;
    padding: 10px;
    margin: 40px auto;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
    align-items: center;
}




.transaction_summary {
    max-width: 400px;
    margin: 100px auto;
    text-align: center;
    background-color: #f5f7fb;
}
.summary {
    font-size: 18px;
}